@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #00bfa6;
    border: solid 2px #00bfa6;
    border-radius: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

h2 {
    line-height: 1px;
    position: relative;
    top: 25px;
    color: #fff;
}

body {
    background: url("pexels-photo-590493.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: center;
    color: blanchedalmond;
    text-shadow: 5px 5px 8px black;
    font-weight: bold;
    position: relative;
    top: 10px;
    letter-spacing: 3px;
    font-size: 25px;
}

.box {
    width: 74%;
    height: 110px;
    background-size: cover;
    margin-left: 13%;
    margin-top: 40px;
    opacity: .9;
    text-align: center;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: #00bfa6;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 2px;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
    text-shadow: 2px 2px 5px black;
}

ul li a:hover {
    background-color: orange;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

.nav {
    padding-left: 12%;
    margin-left: 8%;
    position: relative;
    top: -30px;
    font-weight: bold;
}

h1 {
    color: white;
    text-shadow: 2px 2px 5px black;
    position: absolute;
    top: 30px;
    left: 460px;
}

input,
textarea {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: 5%;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    border: none;
    position: relative;
    left: -100px;
}

textarea::placeholder {
    color: #aaa;
    font-weight: 500;
    position: relative;
    top: 10px;
}

.send-query {
    font-size: 18px;
    text-align: center;
    border: none;
    height: 40px;
    width: 80px;
    background: #FF8C00;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 500px;
    position: relative;
    top: -40px;
    cursor: pointer;
}

.search-area {
    position: absolute;
    top: 300px;
    left: 500px;
}

.chatbot-area {
    position: absolute;
    top: 400px;
    left: 450px;
}

.chatbot-area a {
    color: #FF4500;
    text-shadow: 2px 2px 5px black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}